body{
    margin: 0;
    font-weight: bold;
}     
.container1{
    padding: 10px;
    background: linear-gradient( to right ,rgb(163, 223, 252),rgb(200, 200, 252));
    display: flex; 
    justify-content: center;
} 
.container2{
    padding: 8px 40px;
    display: flex;
    justify-content: space-between;
}
.select1,.about,.login,.join{
    border: none;
    font-size: x-small;
    margin-right: 5px;
    background-color: transparent;
}
.join{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.bar3{
    display: none;
}
.container3{
    background-size: cover;
    background-position:center ;
    background-image:url('image1.png');
}
.background{
    background-image: linear-gradient(to left,transparent  ,rgba(0, 0, 0, 0.945));
}
.attribute{
    font-size: small;
    width: 350px;
    padding:30px 50px ;
    color: white;
}
.attribute p{
    font-size: 12px;
    margin: 6px 0px;
    font-weight: 100;
    line-height: 20px;
    max-width: 70%;
}
.button2{
    padding: 7px 14px;
    border-radius: 4px;
    border: 2px solid rgb(168, 168, 168) ;
    background-color: transparent;
    color: white;
    font-size: 10px;
}

 .button1{
    margin-top: 18px;
    margin-right: 10px;
    border: 0;
    border-radius: 4px;
    padding: 8px 20px;
    font-size: 10px;
}
.img1 img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    padding-right: 10px;
}
.main-container{
    background-color:rgb(244, 251, 255);
    padding: 100px 50px;
}
.weliod{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.weliod p {
     margin: 5px;
     
     font-weight: 100;
}
.weliod h1{
    margin: 5px ;
}
.container4{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}   
.discription{
    background-color: white;
    border-radius: 10px;
    width: 26%;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px   rgb(203, 238, 250);
}
.font{
    font-size: small;
}
.font p{
    font-weight: 100;
    margin-bottom: 30px;
    margin-top: 0px;
}
.font h3{
    margin-bottom: 7px;
}
.button3{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.button3 button{
    font-weight: bold;
    font-size: 11px;
   
    border-radius: 7px;
}
.button4{
    border: 0;
    background-color: black;
    color:rgb(244, 251, 255)  ;
    margin-right: 15px;
    padding: 12px 30px;
}
.button5{
    background-color: transparent;
    border: 1px solid rgb(202, 202, 202);
    padding: 12px 10px;
}
.main-container1{
    padding: 100px 50px;
}
.container5{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 10px;
}
.curse-container{
    width: 24%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px lightblue;
}
.text-area{
    font-size: small;
}
.text-area h4{
    margin-top: 0;
}
.text-area,.attribute1 p,.text-container p{
    font-weight: 100;
}
.text-area1, .text-container p,h4 {
    font-size: small;
}
.text-area1{
    font-weight: 100;
}
.main-container2{
    background-color:black;
    padding: 50px 30px;
    border-start-end-radius: 50px;
    border-start-start-radius: 50px  
}
.container6{
    display: flex;
    justify-content: center;
}
.img-container{
    width:30%;
    margin-left: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.attribute1{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    color: white;
    font-size: small;
    width: 100%;
}
.main-container3{
    display: flex;
    flex-wrap: wrap;
}
.text-container{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 46%;
    margin: 10px;
}
.main-container4{
    position: relative;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-text p{
    font-weight: 100;
    font-size: smaller;
}

.container7{
    position: relative;
    display: flex;
    margin-bottom: 500px;
    padding: 50px 150px;
    gap: px;
}
.box-container{
    padding: 5px 30px;
    box-shadow: 1px 1px 5px  rgb(170, 168, 168) ;
    width: 100%;
    max-width: 330px;
    border-radius: 10px;
    display: flex;
}
.box-image{
    padding: 20px;
    padding-left: 0;
}
.box-image img{
    
    border-radius: 50%;
}
.box-text h4{
    margin-bottom: 0;
}
.box-text h6{
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: x-small;
    color: rgb(73, 73, 72);
}
.box-text h5{
    font-weight: 600;
    font-size: 12px;
    color: rgb(61, 61, 61);
}
.box-container:nth-child(1){
    z-index: 5;
    position: absolute;
    box-shadow: 1px 17px 25px rgb(82, 81, 81); 
    top: 45px;
    background-color: white;
}
.box-container:nth-child(2){
    z-index:3 ;
    position: absolute;
    background-color: white;
    left: 600px; 
    top: 45px;
    box-shadow: 1px 17px 25px rgb(83, 83, 83); 
}
.box-container:nth-child(3){
    z-index: 1;
    position: absolute;
    top:210px;
    left:180px;
    background-color: white;
}
.box-container:nth-child(4){
    z-index: 4;
    position: absolute;
    bottom: -270px;
    left: 630px;
    background-color: white; 
    box-shadow: 1px 17px 25px rgb(82, 80, 80);
}
.box-container:nth-child(5){
    z-index: 2;
    background-color: rgb(248, 248, 248);
    position: absolute;
    top: 360px;
    left: 400px;
}
.main-container6{
    position: relative;
    padding: 100px;
    background-color: rgb(20, 20, 20);
    display: flex;
}
.text-area2{
    position:absolute ;
    top: -130px;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(61, 61, 61);
    font-size: 250px;
    z-index: 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 1;
    padding: px;
    
}
.content p{
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: small;
}
.content button{
   font-size: x-small; 
   font-weight: bold;
   padding: 15px 50px;
   border-radius: 10px;
   border: 0;
}
.main-container7{
    position: relative;
    background-color: rgb(20, 20, 20);
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px 30px;
}
.container8{
    margin: 10px 30px 50px;
    background-color: blue;
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient( to right ,rgb(186, 227, 248),rgb(157, 157, 238));
    color: black;
}
.container8 button{
    background-color: black;
    color: white;
    font-size: x-small;
    font-weight: bold;
    padding: 10px 30px;
    border: 0;
    border-radius: 5px;
}
.container9{
    display: flex;
    justify-content: space-between;
}
.container9 :nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.container9 :nth-child(2) p{
    margin-left: 30px;
    font-size: x-small;
    font-weight: 100;
}
@media screen and (max-width: 700px)  {
    .container1{
        display: none;
    }
    .select1,.join,.login, .about{
        display: none;
    }
    .bar3{
        display: block;
    }
    .attribute{
        width: 70%;
    }
    .attribute p{
        width: 60%;
    }
    .container4{
        flex-direction: column;
        padding: 30px 30px 30px 0px;
    }
    .discription{
        width: 100%;
        align-items: center;
    }
    .button3{
        flex-direction: column;
        align-items: center;
    }
    .button5{
        display: none;
    }
    .container5{
        flex-direction: column;
        padding: 50px 50px 50px 0px;
        align-items: center;
    }
    .curse-container{
        width: 100%;
        
    }
    .img-container{
        display: none;
    }
    .main-container3{
        flex-direction: column;
        padding: 30px 30px 30px 0px;
    }
    .text-container{
        width: 100%;
    }
    .container7{
        flex-direction: column;
        padding: 30px 30px 30px 30px;
        margin-bottom: 50px;
    }
    .box-container{
        max-width: 90%;
    }
   .box-container:nth-child(1), .box-container:nth-child(2), .box-container:nth-child(3),.box-container:nth-child(4),.box-container:nth-child(5) {
    
    position: static;
   }
   .text-area2{
    top: -150px;
    left: -10px;
    line-height: 335px;
    font-size: 70px;
    
   }
   .main-container7{
    padding: 20px 40px;
    
   }
   .container8{
    flex-direction: column;
    padding: 0px 10px 30px;
    margin: 0px 10px 40px;
   }
   .container8 h2{
    text-align: center;
   }
   .container9{
    display: block;
   }
   .container9 :nth-last-child(1){
    width: 70px;
   }
   .container9 :nth-child(2){
    display: block;
    padding: 0px;
    width: 100%;
   }
   .container9 :nth-child(2) p{
    display: block;
    font-size: large;
    font-weight: bold;
    margin-left: 0;
   }
}
